.gustosIn{
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-name: gustosIn;

    -webkit-animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: gustosIn;
}

@keyframes gustosIn{

    from{
        opacity: 0;}
    to{
        opacity: 1;}
}

.gustosInUp{
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-name: gustosInUp;

    -webkit-animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: gustosInUp;
}

@keyframes gustosInUp{
    from {
        opacity: 0;
        transform: translate3d(0,100%,0);
        -webkit-transform: translate3d(0,100%,0) ;
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0) ;
        -webkit-transform: translate3d(0,0,0);
    }
}