/*GUSTOS*/
.title-gustos .col-4 {
    
    text-align: center;

}
.cora{
    color: red;
}
.title-cora{
font-size: 24px;
color: white;
}
.title-gustos{
    
    background-color: #5E4A4A;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.foto-gustos{
    border-radius: 10px;
    box-shadow: 0 0 5px 5E4A4A;
}

  .gusto-miler , .gusto-angiela{
      padding: 30px;
      text-align: center;
      border-radius: 5px;
      background-color: #A9A7EB;  
      box-shadow: 0 0 2px aqua;
    }
  .gusto-miler{
    margin: 10px 1px 10px 10px;
  }
  .gusto-angiela{
    margin: 10px 10px 10px 1px;
  }


   .name{

    font-size: 22px;
    color: white;


   }
   .lista{
       color: 5E4A4A;
       list-style: none;
       text-align: left;
   }


   @media (max-width:600px){
    
}

@media (max-width:600px) {

   
    .foto-gusto-container{
        
        padding: auto;
    }

    .cora ,.title-cora{
        display: inline;
        padding: auto;
    }
    .title-gustos{
        display: flex;
    }


    .gusto-miler , .gusto-angiela{
        margin: 10px auto;
        width: 85%;
    }

  }